/* ==========================
RESET
========================== */
html, body, div, span, applet, object, iframe, h1, h2,  h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
fiqure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockkquote:before, blockquote:after, 
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}



/* ========================
STYLE
======================== */

a.offpage{
   position: absolute;
   top: 5px;
   left: -500px;
   padding: 10px;
}

a.offpage:focus{
   position: relative;
   background: #eef0e5;
   left: 0px;
   font-family: Arial;
}

nav{
   background: #163020;
   padding: 0px 30px;
   display: flex;
/*    flex-wrap: wrap; */
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   font-family: Arial;
   height: 7vh;
}

nav a{
   color: #aeaeae8f;
/*    opacity: 0.5; */
   text-decoration: none;
   padding: 1.5% 2%;
   font-size: 1.1rem;
   width: 35vw;
   text-align: center;
}

nav a.current{
   color: #ffffff;
/*    opacity: 1; */
   transform:scale(1.2,1.2);
/*    border: solid 2px #fff;
   border-radius: 50px; */
}

nav a:hover, nav a:focus{
   background: #eef0e5;
   opacity: 1;
   color: #163020;
   border-radius: 50px;
   transition-property: background, border-radius;
   transition-timing-function: ease;
}

/* nav a:nth-child(2){
   border-top: solid 1px #cacaca;
   border-bottom: solid 1px #cacaca;
   padding-top: 3%;
}
 */
div.hero{
   padding-top: 4%;
   display: grid;
   grid-template-rows: auto auto;
}

header{
   height: 17vh; 
}

header.home{
   background: #d0d9ceb5;
   background-image: url("../images/headdress_hurray.jpg");
   background-size: cover;
   background-blend-mode: overlay;
/*    height: 220px; */
}

header.camp{
   background: #d0d9ceb5;
   background-image: url("../images/meal-time.jpg");
   background-size: cover;
   background-blend-mode: overlay;
   background-position-y: center;
}

header.cds{
   background: #d0d9ceb5;
   background-image: url("../images/WTD-UCH.jpg");
   background-size: cover;
   background-blend-mode: overlay;
   background-position-y: -70px ;
}

.hero h1{
   text-align: center;
   font-size: 1.3em;
   font-family: Arial;
   color: #163020;  
}

.hero p{
   text-align: center;
   font-size: 0.9em;
   font-family: arial;
   color: #163020;
}

#Main-content{
   margin: 5% 6%;
}

div.joshua-passport{
   text-align: center;
}

img.joshua-passport{
   border: 3px solid #508d69;
   border-radius: 20px;
   width: 50vw;
   padding: 1%;
}

div.about-me{
   text-align: center;
   font-family: Arial;
   padding: 1% 5%;
}
div.about-me p{
   font-size: 1.0em;
   border-top: solid 1px #cacaca;
   padding-top: 3%;
   padding-bottom: 3%;
}

div h2{
   font-size: 1.6rem;
   line-height: 2;
   color: #304d30;
}

.grid-container{
   display: grid;

   justify-content: center;
}

 .grid-container img,.flex-container img{
   width: 80vw;
   margin-bottom: 5%;
   padding: 1%;
   border: solid 3px #508d69;
   border-radius: 20px;
}

.flex-container{
   display: flex;
/*    flex-wrap: wrap; */
   flex-direction: column;
/*    align-content: center; */
   align-items: center;
}

div p{
   font-size: 18px;
   line-height: 1.4;
   color: #676c66;
   font-family: Times;
   margin-block-end: 10px;
}

footer{
   padding: 2%;
   color: #b6c4b6;
   background: #163020;
   font-size: 0.8rem;
   font-family: Arial;
   text-align: center;
}

footer a{
   color: #cacaca;
   text-decoration: underline;
}

@media screen and (min-width: 770px){
   nav a{
      font-size: 1.5rem;
   }
   div.hero{
      padding-top: 2%;
   }
   .hero h1{
      font-size: 2.4em;
   }
   .hero p{
      font-size: 1.4em;
   }
   img.joshua-passport{
     width: 28vw;
   }
   div.about-me h2{
      font-size: 2.2rem;
   }
   div.about-me p{
      font-size: 1.3em;
   }
   .grid-container{
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto auto auto;
      column-gap: 4%;
      align-items: center;
   }
   .grid-container img{
      width: 40vw;
/*       border-radius: 100px; */
   }
   .grid-container :nth-child(1){
     grid-area: 1 / 2 / 1 / 3;
      height: ;
   } 
   .grid-container :nth-child(4){
     grid-area: 2 / 2 / 2 / 3;
   }
   .grid-container :nth-child(2){
     grid-area: 1 / 1 / 3 / 1;
   }
   .grid-container :nth-child(5){
     grid-area: 3 / 1 / 3 / 1 ;
   }
   .grid-container :nth-child(3){
     grid-area: 4 / 1 / 5 / 1;
   }
   .grid-container :nth-child(6){
     grid-area: 3 / 2 / 5 / 2;
   }
   footer p{
      font-size: 1.2rem;
   }
}

@media screen and (min-width: 998px){
   nav{
      height: 10vh
   }
   nav a{
      font-size: 1.3rem;
      padding: 0.5% 1%;
      width: 7vw;
   }
   header{
      height: 41vh;
   }
   div.hero{
      padding-top: 4%;
   }
   .hero h1{
      font-size: 2.8em;
   }
   .hero p{
      font-size: 1.5em;
   }
   div.about-me h2{
      font-size: 2.4rem;
   }
   img.joshua-passport{
      width: 25vw;
   }
   div.about-me p{
      display: inline-block;
      text-align: left;
      font-size: 1.4em;
      width: 30%;
      vertical-align: top;
      padding-right:3%;
   }
   .grid-container{
      grid-template-columns: auto auto auto auto auto;
      grid-template-rows: auto auto;
      column-gap: 2%;
      align-items: stretch;
   }
   .grid-container img{
      width: 20vw;
/*       border-radius: 100px; */
   }
    .grid-container :nth-child(1){
     grid-area: 1 / 2 / 1 / 3;
      height: ;
   }
    .grid-container :nth-child(6){
     grid-area: 1 / 1 / 3 / 1;
   }
   .grid-container :nth-child(4){
     grid-area: 2 / 2 / 2 / 3;
   }
   .grid-container :nth-child(5){
     grid-area: 1 / 4 / 1 / 5 ;
   }
   .grid-container :nth-child(3){
     grid-area: 2 / 4 / 3 / 5;
   }
   .grid-container :nth-child(2){
     grid-area: 1 / 3 / 3 / 4;
   }
   .flex-container{
      flex-direction: row;
      flex-wrap: wrap;
      display: inline-block;
   }
   .flex-container img{
      max-width:  40vw;
      margin-left: 1%;
/*       border-width: 5px; */
      padding: 0.4%;
      margin-bottom: 2%;
   }
   footer p{
      font-size: 1.1rem;
   }
}

